.circuitos {
    background-image: linear-gradient(#00000080, #00000080), url("../media/circuitos.JPG");
    background-size: contain;
}

.main-circuitos {
    padding: 25px;
    font-size: x-large;
    font-family: fredoka one;

}

.main-circuitos {
    padding: 25px;
    font-size: x-large;
    font-family: fredoka one;


}